# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# Colleagues' packages
git+https://github.com/hdavis44/questions_three
git+https://github.com/LucaVanTichelen/mypackage
git+https://github.com/gelhteag/hello_wagon
git+https://github.com/ypzhangescp/yiping
git+https://github.com/Freya-Antonia/words_of_wisdom
